.container{
    position: relative;
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
/* sidebar / bg */

background: #363740;
.loginContainer{
    /* padding:20 ;height:'70vh' ;width:200;margin:'20px auto'; */
    display: flex;
    justify-content: center;
    position: absolute;
    height: 450px;
    width: 380px;
    top: 100px;
    
    background-color:#fff;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    .logo{
        /* logo */
    
        display: flex;
        
        width: 40px;
        height: 30px;
       justify-content: center;
        
    }
    .logindash{
        /* Log In to Dashboard Kit */
        position: absolute;
        height: 30px;
       display: flex;
        top: 127px;
        justify-content: center;
        
        /* Bold 24 (0.3 px) */
        
        font-family: "Mulish";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.3px;
        
        /* grayscale / black */
        
        color: #484a50;
    }
    
.emailcontainer{
    position: absolute;
height: 64px;
left: 32px;
right: 32px;
top: 170px;
}

.inputemail{
    position: absolute;
left: 0px;
right: 0px;
top: 22px;
bottom: 0px;

/* grayscale / extra light */

background: #FCFDFE;
/* grayscale / gray lightest */

border: 1px solid #F0F1F7;
box-sizing: border-box;
border-radius: 8px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.3px;

/* grayscale / gray dark */

color: #4B506D;

opacity: 0.8;
}
.emaillabel{
    /* label */
    position: absolute;
    height: 16px;
    left: 0px;
    right: 0px;
    top: 0px;
    
    /* Bold 12 (0.3 px, CAPS) */
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    
    /* grayscale / gray */
    
    color: #9FA2B4;


}
.passwordcontainer{
    position: absolute;
height: 64px;
left: 32px;
right: 32px;
top: 250px;
}
.passwordlabel{
    position: absolute;
height: 16px;
left: 0px;
right: 0px;
top: 0px;

/* Bold 12 (0.3 px, CAPS) */

font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.3px;
text-transform: uppercase;

/* grayscale / gray */

color: #9FA2B4;

}
.inputpassword{
    position: absolute;
left: 0px;
right: 0px;
top: 22px;
bottom: 0px;

/* grayscale / extra light */

background: #FCFDFE;
/* grayscale / gray lightest */

border: 1px solid #F0F1F7;
box-sizing: border-box;
border-radius: 8px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

letter-spacing: 0.3px;

/* grayscale / gray dark */

color: #4B506D;

opacity: 0.8;
}
.button{
    /* button / contained / primary / default */
width: 200px;
background-color: #3751FF;
position: absolute;
height: 48px;
justify-content: center;
top: 340px;
box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
border-radius: 8px;
font-family: 'Mulish';
font-style: normal;
font-weight: 600;

line-height: 20px;
/* identical to box height, or 143% */

text-align: center;
letter-spacing: 0.2px;

/* grayscale / white */

color: #FFFFFF;


}

.register{
    /* button / contained / primary / default */
width: 200px;

position: absolute;
height: 48px;
justify-content: center;
top: 375px;


font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 12px;

/* identical to box height, or 143% */

text-align: center;
letter-spacing: 0.2px;

/* grayscale / white */

color: #60616b;
opacity: 0.8;
    b{
        color: #3751FF;
    }

}
    
}

}




